@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root {
    --white: #ffffff;
    --black: #222222;
    --blue: #48d1cc;
    --yellow: #ffd700;
}

body {
    margin: 0;
    color: #222222;
    font-family: 'Mukta', sans-serif;
}

header {
    background-color: var(--white);
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 24px);
    padding: 12px;
    z-index: 2;
}

header>nav {
    margin-top: auto;
    margin-bottom: auto;
}

header>nav a {
    color: #7cb3c5;
    text-decoration: none;
    font-weight: bold;
}

header>nav ul {
    padding-inline-start: 0;
    margin: 0;
}

header>nav li {
    display: inline-block;
    margin-left: 12px;
}

h1, h2{
    font-family: 'Chango', cursive;
    margin: 0;
    margin-bottom: 12px;
}

h1 {
    font-size: 24px;
    letter-spacing: -3px;
}

h1 span {
    font-family: 'Vibur', cursive;
    letter-spacing: 0px;
}

h1>a {
    color: #222222;
    text-decoration: none;
}

main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-items: center;
}

#frontpage {
    background-color: #7cb3c5;
    background-image: url(clouds.svg), linear-gradient(#7cb3c5, #a4cedb);
    background-repeat: repeat;
    background-position: 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    flex-grow: 1;
    animation: background-clouds 5000ms linear infinite;
    height: 80vh;
}

@keyframes background-clouds {

    to {
        background-position: 500px 0;
    }
}

object[data="clouds.svg"] {
    position: absolute;
    height: 100vh;
    width: 100%;

}

object[data="clouds.svg"] {
    animation: clouds 5000ms linear infinite;
}

@keyframes clouds {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(100vw, 0, 0);
    }
}

svg.hills {
    position: absolute;
    height: 20vh;
    width: 100%;
    bottom: 20vh;
}

#frontpage>section {
    display: flex;
    margin: 0 32px;
    gap: 12px;
    z-index: 1;
}

#frontpage>section a {
    padding: 8px 6px;
    flex-grow: 1;
    background-color: var(--white);
    border: 1px solid #222222;
    box-shadow: 5px 5px #222222;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: #222222;
    text-decoration: none;
}

main>section:nth-of-type(2){
    background-color: #a4cedb;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;
}

main>section:nth-of-type(2)>section{
    background-color: var(--white);
    margin: 0 32px;
    padding: 12px;
    border-radius: 3px;
}

main>section:nth-of-type(2)>section>a{
    background-color: #7cb3c5;
    margin: 16px 0;
    padding: 2px 8px;
    border-radius: 3px;
    color: #222222;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

#featured>section:nth-of-type(1){
    display: flex;
    flex-direction: column;
}

#featured>section:nth-of-type(1)>img{
    flex-grow: 1;
    object-fit: cover;
}

#featured>section:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
}

#featured>section:nth-of-type(2)>h2{
    flex-grow: 1;
    width: 100%;
}

#featured>section:nth-of-type(2)>img{
}

p:last-of-type{
    margin-bottom: 0;
}

@media only screen and (max-width: 768px){
    main>section:nth-of-type(2){
        
    }
}