@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root {
    --white: #ffffff;
    --black: #222222;
    --blue: #48d1cc;
    --yellow: #ffd700;
}

body {
    margin: 0;
    color: #222222;
    font-family: 'Mukta', sans-serif;
}

header {
    background-color: var(--white);
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 24px);
    padding: 12px;
}

header>nav{
    margin-top: auto;
    margin-bottom: auto;
}

header>nav a{
    color: #7cb3c5;
    text-decoration: none;
    font-weight: bold;
}

header>nav ul{
    padding-inline-start: 0;
    margin: 0;
}

header>nav li {
    display: inline-block;
    margin-left: 12px;
}

h1 {
    font-family: 'Chango', cursive;
    font-size: 24px;
    letter-spacing: -3px;
    margin: 0;
}

h1 span {
    font-family: 'Vibur', cursive;
    letter-spacing: 0px;
}

h1>a{
    color: #222222;
    text-decoration: none;
}

main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-items: center;
}

#frontpage {
    background-color: #7cb3c5;
    /* background-image: linear-gradient(#73ccff, #3ab2f7, #3ab2f7, #1394df 80vh); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    flex-grow: 1;
}

svg.clouds{
    position: absolute;
    height: 100vh;
    width: 100%;
}

svg.clouds>g>use{
    animation: clouds 25000ms linear infinite;
}

@keyframes clouds{
    0%{ transform: translate3d(0, 0, 0);}
    100%{transform: translate3d(1000px, 0, 0);}
}

svg.hills{
    position: absolute;
    height: 20vh;
    width: 100%;
    bottom: 20vh;
}

#frontpage>section{
    display: flex;
    margin: 0 32px;
    gap: 12px;
}

#frontpage>section a{
    padding: 8px 6px;
    flex-grow: 1;
    background-color: var(--white);
    border: 1px solid #222222;
    box-shadow: 5px 5px #222222;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    color: #222222;
    text-decoration: none;
}