:root {
    --white: white;
    --darkgrey: #222;
    --blue: #8BADB6;
}

body {
    background-color: var(--blue);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--darkgrey);
    background-image: url(images/pexels-eberhard-grossgasteiger-1367179.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: var(--white);
    padding: 12px;
}

header.index{
    margin-top: 40vh;
    margin-bottom: 45vh;
    text-align: center;
}

nav {
    font-size: small;
}

nav>a {
    color: var(--blue);
    margin-right: 12px;
    text-decoration: none;
}

h1,h2,h3,h4{
    color: var(--blue);
    font-family: 'Lobster Two', cursive;
}

h1 {
    text-align: center;
    margin: 0 0 12px 0;
}

nav>h1 {
    display: inline;
}

h1>a {
    text-decoration: none;
}

h1>a:visited {
    color: inherit;
}

.h-small{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: var(--darkgrey);
    margin-right: 6px;
}

hr{
    border: 1px solid var(--darkgrey);
    margin: 12px 0;
    content: " \22C6 ";
}

main {
    margin-top: 6px;
}

.container {
    background-color: var(--white);
    padding: 32px 24px;
    display: block;
    margin: 24px;
}

article {
    background-color: var(--white);
    padding-bottom: 12px;
    margin-top: 24px;
    text-align: justify;
}

article.index{
    padding: 32px 24px;
    display: block;
    margin: 24px;
}

article::after {
    content: "";
    clear: both;
    display: table;
}

article>p,
a,
button {
    margin: 12px;
    text-align: justify;
}

a {
    color: var(--blue);
}

.icons {
    display: inline;
}

button {
    background-color: lightgrey;
    border: none;
    padding: 6px;
}

section {
    clear: both;
    padding: 12px 16px;
}

/* INDEX EXCLUSIVE */
.scroll-down{
    text-align: center;
    margin-top: calc(39vh);
    animation: bop 2s infinite;
    position: absolute;
    left: 50%;
    right: 50%;
}

.arrow-down {
    border: solid var(--white);
    border-width: 0 6px 6px 0;    
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
    font-size: 64px;
}

/* WORKS EXCLUSIVE */
.preview {
    background-color: lightgrey;
    width: 100%;
}

.preview:after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

button.btn-external {
    float: right;
    margin: 0 12px 0 0;
}

button.btn-external:after {
    content: " »";
    font-size: 16px;
    font-weight: bold;
}

/* CONTACT EXCLUSIVE */
.pfp {
    background-color: lightgrey;
    height: 50px;
    width: 50px;
    margin: 12px;
    float: left;
}


/* ANIMATIONS */
@keyframes bop{
    0% {margin-top: calc(39vh);}
    50% {margin-top: calc(39vh - 12px);}
    100% {margin-top: calc(39vh);}
}