:root {
    --white: white;
    --darkgrey: #222;
    --blue: #8BADB6;
}

body {
    background-color: var(--blue);
    background-image: url(images/pexels-eberhard-grossgasteiger-1367179.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--darkgrey);
    margin: 0;
}

header {
    background-color: var(--white);
    padding: 12px;
}

.index header {
    margin-top: 40vh;
    margin-bottom: 45vh;
    position: relative;
    text-align: center;
}

nav {
    font-size: small;
}

nav>a {
    color: var(--blue);
    text-decoration: none;
    padding: 6px 12px;
}

h1,
h2,
h3,
h4 {
    color: var(--blue);
    font-family: 'Lobster Two', cursive;
}

h1 {
    text-align: center;
    margin: 0 0 12px 0;
}

nav>h1 {
    display: inline;
}

h1>a {
    text-decoration: none;
    padding: 6px;
}

h1>a:visited {
    color: inherit;
}

.h-small {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: var(--darkgrey);
    margin-right: 6px;
}

hr {
    border: 1px solid var(--darkgrey);
    margin: 12px 0;
    content: " \22C6 ";
}

.index main {
    position: relative;
}

.container {
    background-color: var(--white);
    padding: 32px 24px;
    display: block;
    margin: 0 32px;
}

.flex{
    display: flex;
}

.btn{
    background-color: var(--white);
    padding: 18px 0;
    text-align: center;
    flex-grow: 2;
    margin-right: 6px;
}

.btn:last-child{
    margin-right: 0;
}

footer{
    background-color: var(--darkgrey);
    color: var(--white);
    padding: 32px 24px;
    margin-top: 32px;
}

article {
    background-color: var(--white);
    padding-bottom: 12px;
    margin-top: 24px;
    text-align: justify;
}

.index article {
    padding: 32px 24px;
    display: block;
    margin: 18px 32px;
}

article::after {
    content: "";
    clear: both;
    display: table;
}

article>p{
    margin: 12px;
    text-align: justify;
}

section{
    margin: 18px 32px;
}

a {
    color: var(--blue);
}

.divider{
    display: block;
    text-align: center;
}

button {
    background-color: lightgrey;
    border: none;
    padding: 6px;
}

/* INDEX EXCLUSIVE */
.arrow-down {
    border: solid var(--white);
    border-width: 0 6px 6px 0;
    padding: 6px;
    position: absolute;
    transform: rotate(45deg);
    bottom: 48px;
    left: 50%;
    right: 50%;
    animation: bop 2s infinite;
}

/* WORKS EXCLUSIVE */
.preview {
    background-color: lightgrey;
    width: 100%;
}

.preview:after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

button.btn-external {
    float: right;
    margin: 0 12px 0 0;
}

button.btn-external:after {
    content: " »";
    font-size: 16px;
    font-weight: bold;
}

/* CONTACT EXCLUSIVE */
.pfp {
    background-color: lightgrey;
    height: 50px;
    width: 50px;
    margin: 12px;
    float: left;
}


/* ANIMATIONS */
@keyframes bop {
    0% {
        bottom: 48px;
    }

    50% {
        bottom: calc(48px - 12px);
    }

    100% {
        bottom: 48px;
    }
}