:root{
    --white: white;
    --darkgrey: #222;
    --blue: #507F8D;
}

body{
    background-color: var(--blue);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--darkgrey);
}

header{
    background-color: var(--white);
    padding: 12px;
}

nav{
    text-align: center;
    font-size: small;
}

nav>a{
    color: var(--blue);
    margin-right: 12px;
    text-decoration: none;
}

h1{
    color: var(--blue);
    font-family: 'Lobster Two', cursive;
    text-align: center;
    margin: 0 0 12px 0;
}

h1>a{
    text-decoration: none;
}

h1>a:visited{
    color: inherit;
}

main{
    margin-top: 6px;
}

.main-page{
    background-color: var(--white);
    padding: 32px 12px;
    margin-top: calc(50vh - 131px/2 - 12px);
    margin-left: 24px;
    margin-right: 24px;
}

article{
    background-color: var(--white);
    padding-bottom: 12px;
    margin-top: 12px;
}

article::after{
    content: "";
    clear: both;
    display: table;}

article>p,a,button{
    margin: 12px;
    text-align: justify;
}

a{
    color: var(--blue);
}

.icons{
    display: inline;
}

button{
    background-color: lightgrey;
    border: none;
    padding: 6px;
    float: right;
    margin: 0 12px 0 0;
}

button:after{
    content: " »";
    font-size: 16px;
    font-weight: bold;
}

.placeholder{
    background-color: lightgrey;
    width: 100%;
}

.placeholder:after{
    content: "";
    padding-bottom: 100%;
    display: block;
}

.pfp{
    background-color: lightgrey;
    height: 50px;
    width: 50px;
    margin: 12px;
    float: left;
}

section{
    clear: both;
    padding: 12px 16px;
}